{
  "plugins": [
    "import",
    "jsx-a11y"
  ],
  "extends": [
    "react-app",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "import/order": "error",
    "import/named": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelAttributes": [
          "label"
        ],
        "controlComponents": [
          "Input",
          "StyledInput"
        ],
        "depth": 3
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    }
  },
  "overrides": [
    {
      "files": [
        "**/*.ts?(x)"
      ],
      "rules": {}
    }
  ]
}